{% extends 'shop/base.html' %}
{% block content %}

<div class="text-center">
  <div class="col-md-12">
    <ul class="list-group" id="item-list">
      <h3 class="text-center">Voici votre panier d'achat</h3>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form method="POST">
      {% csrf_token %}
      <input type="hidden" id="items" name="items">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Nom & Prénom</label>
          <input type="text" id="nom" name="nom" class="form-control" required/>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Email</label>
          <input type="email" id="email" name="email" class="form-control" required/>
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Adresse</label>
        <input type="text" name="address" id="address" class="form-control" placeholder="Tapez votre adresse" required/>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">Ville</label>
          <input type="text" id="ville" name="ville" class="form-control" required/>
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Pays</label>
          <select id="pays" name="pays" class="form-control">
            <option selected>Burundi</option>
            <option>Côte d'Ivoire</option>
            <option>Rwanda</option>
            <option>France</option>
            <option>RDC</option>
            <option>Tanzanie</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Téléphone</label>
          <input name="telephone" id="telephone" type="text" class="form-control" required/>
        </div>
        <div class="form-group">
          <label for="commentaire">Commentaire ou suggestion</label>
          <textarea id="commentaire" name="commentaire" class="form-control" placeholder="Ajoutez un commentaire ou une suggestion" rows="3"></textarea>
        </div>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Somme totale à payer</label>
        <input name="total" id="total" type="text" readonly class="bg-dark text-warning form-control">
      </div>
      <button type="submit" class="btn btn-primary">Commander</button>
    </form>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
  let panier = {};
  let panierSimple = []; // Initialiser le panierSimple

  if (localStorage.getItem('panier') !== null) {
    panier = JSON.parse(localStorage.getItem('panier'));
    // Remplir le panierSimple à partir du panier
    for (let key in panier) {
      let item = panier[key];
      panierSimple.push({ nom: item[1], quantite: item[0], prix: item[2] });
    }
  }

  function updateTotal() {
    let total = 0;
    let nombre = 0;

    for (let key in panier) {
      let item = panier[key];
      nombre += item[0];
      total += item[0] * item[2];
    }

    $('#total').val(total + " FBU");
    $('#item-list').find('.total-price').text(total + " FBU");
  }

  function renderPanier() {
    $('#item-list').empty();
    let total = 0;
    let nombre = 0;

    for (let key in panier) {
      let item = panier[key];
      let nom = item[1];
      let quantite = item[0];
      let prix = item[2];
      
      total += quantite * prix;
      nombre += quantite;

      let itemString = `<li class="list-group-item d-flex justify-content-between align-items-center">
                       ${nom}
                        <span class="badge badge-primary badge-pill d-flex align-items-center" style="font-size: 14px;"> 
                          <button class="btn btn-link adjust-quantity text-white" data-item="${key}" data-action="decrease" style="color: white;">-</button> 
                          ${quantite} 
                          <button class="btn btn-link adjust-quantity text-white" data-item="${key}" data-action="increase" style="color: white;">+</button>
                        </span>
                        <span class="badge badge-danger badge-pill">${prix * quantite} FBU</span>
                        <button class="btn btn-link delete-button text-danger" data-item="${key}"><i class="fas fa-trash"></i></button>
                      </li>`;
      $('#item-list').append(itemString);
    }

    itemNombre = `
      <li class="list-group-item d-flex flex-column align-items-center">
        <h5 class="alert alert-primary mb-3 text-light" style="background-color: #008000;">PRIX ET QUANTITÉ TOTALE</h5>
        <span class="badge badge-primary badge-pill mb-2 font-weight-bold" style="font-size: 18px;">Quantité totale: ${nombre}</span>
        <span class="badge badge-danger badge-pill font-weight-bold total-price" style="font-size: 18px;">Total: ${total} FBU</span>
      </li>`;
    
    $('#item-list').append(itemNombre);
    $('#total').val(total + " FBU");
    $('#items').val(JSON.stringify(panierSimple)); // Enregistrer panierSimple
  }

  renderPanier();
  updateTotal();

  $(document).on('click', '.adjust-quantity', function() {
    let item = $(this).data('item');
    let action = $(this).data('action');

    if (action === 'increase' && panier[item][0] < 7) {
      panier[item][0]++;
    } else if (action === 'decrease' && panier[item][0] > 1) {
      panier[item][0]--;
    }

    // Mettre à jour panierSimple après modification
    panierSimple = [];
    for (let key in panier) {
      let item = panier[key];
      panierSimple.push({ nom: item[1], quantite: item[0], prix: item[2] });
    }

    localStorage.setItem('panier', JSON.stringify(panier));
    renderPanier();
    updateTotal();
  });

  $(document).on('click', '.delete-button', function() {
    var item = $(this).data('item');
    delete panier[item];

    // Mettre à jour panierSimple après suppression
    panierSimple = [];
    for (let key in panier) {
      let item = panier[key];
      panierSimple.push({ nom: item[1], quantite: item[0], prix: item[2] });
    }

    localStorage.setItem('panier', JSON.stringify(panier));
    renderPanier();
    updateTotal();
  });
</script>
{% endblock %}